@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@media screen and (max-width: 600px) {

    body {
        font-size: 14px; 
    }
    
    #site-header {
        width: 100%;
    }
    
    .container {
        padding: 10px; 
    }
    
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    
    body {
        font-size: 16px; 
    }
    

    #site-header {
        width: 80%;
    }
    
    .container {
        padding: 20px; /
    }
    
}
    

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 1px solid gray;
}

.logo {
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;    
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}

.nav-links  a {
    transition: all 0.3s ease 0s;
    color: black;
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-links  a:hover {
    transition: all 0.3s ease 0s;
    color: rgb(134, 107, 107);
}

.nav-item1{
   border: 1px solid black;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   
}

.nav-item2{
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}
.nav-item3{
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
}

.center-text {
    text-align: center;
    color: #3b4754;
    margin-top: 42px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

.sub-text {
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    line-height: 17.6px;
    text-align: center;
    letter-spacing: normal;
    color: #798da3;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px; 
}

.product-images {
    margin-top: 20px;
    margin-left: 30px;
    width: 45%;
    overflow: hidden;
    
}

.product-images img {
    max-width: 100%;
    height: auto;
    display: none;
}

.contact-form {
    margin-top: 30px;
    margin-right: 30px;
    width: 40%;
    background-color: #f2f2f2;
    padding: 20px;
    height: 600px;
}

.contact-heading {
    font-family: "Open Sans", serif;
    font-size: 18px;
    line-height: 20.6px;
    text-align: left;
    letter-spacing: normal;
    color: #3b4754;
    margin-bottom: 30px;
    margin-top: 20px;
}

.form-label {
    margin-top: 20px;
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 12.1px;
    text-align: left;
    letter-spacing: normal;
    color: #3b4754; 
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 14.1px;
    text-align: left;
    letter-spacing: normal;
    color: #3b4754;
}

.form-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.error {
    color: red;
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 12.1px;
    text-align: left;
    letter-spacing: normal;
}

.input-control input:focus {
    outline: 0;
}
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff0000;
}


.additional-text {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 17.4px;
    text-align: left;
    letter-spacing: normal;
    color: #6e7c8b;
    margin-bottom: 30px;
}

.additional-text2 {
    margin-top: 20px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 18.4px;
    text-align: left;
    letter-spacing: normal;
    color: #3b4754;
    margin-bottom: 10px;
    font-weight: bold;
}

.avatar {
    margin-top: 40px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%; 
    margin-right: 10px; 
}
.avatar i {
    font-size: 50px;
    color: #798da3; 
}   

.profile-info {
    display: inline-block;
    vertical-align: top;
}

.profile-name {
    margin-top: 40px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 18.2px;
    text-align: left;
    letter-spacing: normal;
    color: #3b4754; 
    font-weight: bold;
}

.profile-bio {
    margin-top: 15px;
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 18.2px;
    text-align: left;
    letter-spacing: normal;
    color: #3b4754; 
}

.horizontal-line {
    margin: 10px auto;
    width: 50%;
    height: 3px;
    background-color: #798da3; 
    margin-top: 30px; 
    margin-bottom: 20px;
}

.feature-list {
    list-style-type: none; 
    margin-left: 0; 
    padding: 0; 
    counter-reset: item; 
    margin-top: 20px;
}

.feature-list li {
    font-family: "Open Sans", serif;
    font-size: 13px;
    line-height: 15.4px;
    text-align: left;
    letter-spacing: normal;
    color: #798da3; 
    margin-bottom: 10px; 
    display: flex;
    align-items: center; 
}

.feature-list li::before {
    content: counter(item); 
    counter-increment: item; 
    width: 20px;
    height: 20px;
    background-color: #798da3; 
    border-radius: 100%; 
    color: #fff; 
    text-align: center;
    line-height: 20px; 
    margin-right: 10px; 
    font-weight: bold;
}

.our-package {
    background-color: #edf0f4;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-package h2 {
    font-family: "Open Sans", serif;
    font-size: 28px;
    line-height: 33.6px;
    text-align: center;
    letter-spacing: normal;
    color: #262626;
    margin: 0;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CSS untuk feature card */
.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.feature-card {
    width: calc(33.33% - 20px); 
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.feature-icon {
    font-size: 16px; 
    line-height: 36px; 
    color: #9fafc1; 
    background-color: #edf0f4; 
    border-radius: 50%;
    width: 42px; 
    height: 42px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; 
    margin-bottom: 30px;
}

.feature-content {
    flex: 1;
    padding: 20px;
}

.feature-content h3 {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: bold;
    margin-bottom: 15px;
}

.feature-content p {
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 16.8px;
    margin: 0;
    color: #798da3;
}

.closing-argument {
    margin-bottom: 20px;
    margin-top: 50px;
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closing-argument h2 {
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: "Open Sans", serif;
    font-size: 28px;
    line-height: 33.6px;
    text-align: center;
    letter-spacing: normal;
    color: #262626;
    margin: 0;
}

.closing-argument p {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: #262626;
    margin: 10px 0;
}

.cta-button {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #29323d;
    color: #fff;
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    letter-spacing: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.footer {
    background-color: #262626;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}